/* ================================= 
  Base Element Styles
==================================== */

body {
	margin-top: 80px;
	margin-left: 40px;
	font-family: 'Varela Round', sans-serif;
	color: #3f3f3f;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.navbar {
	box-shadow: 0 2px 4px rgba(0,0,0,.4);
}

.main-footer {
	text-align: center;
	padding: .5em 0;
}

/* ---- Page Elements ---- */

.bullet {
	list-style: none;
	padding-left: 1em;
}

.bullet li {
	position: relative;
	padding-left: 20px;
}

.bullet li:before {
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	background-image: url('../img/silhouette-1314467_960_720.png');
	background-size: cover;
	background-position: center;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
